Repository sadhal-org/ocp-infra-kaas-customers-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sadhal, @myorg/aimlinfra, @myorg/ipapcip, @myorg/itom, @myorg/mysreteam

.github/CODEOWNERS:

# default ownership - platform team
* @sadhal

/dev/**/aimlinfra/*.values.yaml @myorg/aimlinfra
/dev/**/ipapcip/*.values.yaml @myorg/ipapcip
/dev/**/itom/*.values.yaml @myorg/itom

/test/**/aimlinfra/*.values.yaml @myorg/aimlinfra
/test/**/ipapcip/*.values.yaml @myorg/ipapcip
/test/**/itom/*.values.yaml @myorg/itom

/prod/**/**/*.values.yaml @myorg/mysreteam

Create aimlinfra-kuberay-operator.values.yaml
  dev/c05.ocp.test.myorg.com/aimlinfra/aimlinfra-kuberay-operator.values.yaml
Owners: @myorg/aimlinfra

Create aimlinfra-kuberay-operator.application.yaml
  dev/c05.ocp.test.myorg.com/aimlinfra/aimlinfra-kuberay-operator.application.yaml
Owners: @sadhal

Update aimlinfra-kuberay-operator.values.yaml
  dev/c05.ocp.test.myorg.com/aimlinfra/aimlinfra-kuberay-operator.values.yaml
Owners: @myorg/aimlinfra

added new kaas customer helm config
  test/c07.ocp.test.myorg.com/ipapcip/ipapcip-amq-streams-operator.application.yaml
  test/c07.ocp.test.myorg.com/ipapcip/papcip-amq-streams-operator.values.yaml
Owners: @sadhal, @myorg/ipapcip

fixed argocd applications
  dev/c05.ocp.test.myorg.com/aimlinfra/aimlinfra-kuberay-operator.application.yaml
  test/c07.ocp.test.myorg.com/ipapcip/ipapcip-amq-streams-operator.application.yaml
Owners: @sadhal

add workflow to check changes in argo applications
  .github/workflows/pr-check-application-changes
Owners: @sadhal

set more explicit paths to check for
  .github/workflows/pr-check-application-changes
Owners: @sadhal

change to yaml file type
  .github/workflows/pr-check-application-changes.yaml
Owners: @sadhal

changed oci repo url
  dev/c05.ocp.test.myorg.com/aimlinfra/aimlinfra-kuberay-operator.application.yaml
Owners: @sadhal

fix workflow
  .github/workflows/pr-check-application-changes.yaml
Owners: @sadhal
